{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width initial-scale=1.0" />
            <meta name="format-detection" content="telephone=no" />
            <title>Events ({{ title }})</title>
            <base />
{# Css #}
            {% block css %}
                {# Uses c975L/IncludeLibraryBundle #}
                {{ inc_lib('bootstrap', 'css', '3.*') }}
                {{ inc_lib('bootstrap-datepicker', 'css', '1.*') }}
                {{ inc_lib('fontawesome', 'css', '5.*') }}
            {% endblock %}
{# Javascript #}
            {% block javascript %}
                {# Uses c975L/IncludeLibraryBundle #}
                {{ inc_lib('jquery', 'js', '3.*') }}
                {{ inc_lib('bootstrap', 'js', '3.*') }}
                {{ inc_lib('bootstrap-datepicker', 'js', '1.*') }}
{# Include datePicker locale file if needed #}
{# <script defer type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.fr.min.js"></script> #}
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block events_content %}
        {% endblock %}
    </body>
</html>
{% endapply %}