{% trans_default_domain 'events' %}

<h2>Event Management</h2>
<p>
    The tools are accessible when the user is identified and has the necessary rights. A toolbar appears on each event. It is also possible to manage the events from dashboard</a>.
</p>
<p>
    <strong>Create an event</strong>: use the button {{ toolbar_button('', 'new')|raw }}
    <br />
    <strong>Modify an event</strong>: use the button {{ toolbar_button('', 'modify')|raw }}
    <br />
    <strong>Duplicate an event</strong> : use the button {{ toolbar_button('', 'duplicate')|raw }}
    <br />
    <strong>Delete an event</strong>: use the button {{ toolbar_button('', 'delete')|raw }}
    <br />
    <strong>View the current version of an event</strong>: use the button {{ toolbar_button('', 'display')|raw }}
    <br />
    <strong>Cancel</strong> : use the button {{ toolbar_button('', 'cancel')|raw }}
</p>

<h2>Data requirements</h2>
<p>
    For each event it is necessary to provide
    <br />
    <strong>Title</strong>: used to be displayed on the event and sent to the browser.
    <br />
    <strong>Semantic url</strong>: link used to call the event, for example: http://example.com/events/<strong>semantic-url</strong>, only unaccented lowercase letters and '-'. It is set automatically according to the title, it can be changed, but this is not recommended in order to have a better referencing.
    <br />
    <strong>Picture</strong> : picture for the event.
    <br />
    <strong>Start date and time</strong> : in connection with the event.
    <br />
    <strong>End date and time</strong> : in connection with the event.
    <br />
    <strong>Place</strong>: in connection with the event.
    <br />
    <strong>Description</strong>: description of the event.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/en/pages/events-bundle">>> Events (Tutorials, screenshots, etc.) <<</a></strong>
</p>