{% trans_default_domain 'events' %}

<h2>Gestión del evento</h2>
<p>
    Las herramientas están disponibles cuando se identifica al usuario y tiene los derechos necesarios. Una barra de herramientas aparece en cada evento. También es posible gestionar las eventos en el tablero.
</p>
<p>
    <strong>Crear un evento</strong> : utilizar el botón {{ toolbar_button('', 'new')|raw }}
    <br />
    <strong>Modificar un evento</strong> : utilizar el botón {{ toolbar_button('', 'modify')|raw }}
    <br />
    <strong>Duplicar un evento</strong> : utilizar el botón {{ toolbar_button('', 'duplicate')|raw }}
    <br />
    <strong>Suprimar un evento</strong> : utilizar el botón {{ toolbar_button('', 'delete')|raw }}
    <br />
    <strong>Ver la versión actual de un evento</strong> : utilizar el botón {{ toolbar_button('', 'display')|raw }}
    <br />
    <strong>Cancelar</strong> : utilizar el botón {{ toolbar_button('', 'cancel')|raw }}
</p>

<h2>Datos necesarios</h2>
<p>
    Para cada evento es necesario proporcionar
    <br />
    <strong>Título</strong> : se utiliza para mostrar en el evento y envía al navegador.
    <br />
    <strong>Url semántica</strong> : enlace utilizado para llamar el evento, por ejemplo: http://example.com/events/<strong>url-semantica</strong>, solamente minúsculas sin acento y '-'. Se ajusta automáticamente con el título, se puede cambiar, pero esto no se recomienda para tener una mejor referencia.
    <br />
    <strong>Imagen</strong> : imagen del evento.
    <br />
    <strong>Fecha y hora de inicio</strong> : en en relación con el evento.
    <br />
    <strong>Fecha y hora final</strong> : en relación con el evento.
    <br />
    <strong>Lugar</strong> : en relación con el evento.
    <br />
    <strong>Descripción</strong>: descripción del evento.
</p>

<p class="text-center">
    <strong><a href="https://975l.com/es/pages/events-bundle">>> Events (Tutoriales, capturas de pantalla, etc.) <<</a></strong>
</p>