{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.create'|trans({}, 'toolbar') %}

{% block events_content %}
    {{ include('@c975LEvents/tinymceInit.html.twig') }}
{# Toolbar #}
    {{ toolbar_display('@c975LEvents/tools.html.twig', 'create', 'md') }}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans({}, 'toolbar') }}
            </button>
        </div>
    {{ form_end(form) }}
{# Javascript #}
    <script type="text/javascript">
        $(document).ready(function() {
{# DatePicker #}
            $('.js-datepicker').datepicker({
                todayHighlight: true,
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                language: '{{ app.request.locale }}'
            });
{# Update semantic url #}
            $('#event_title')
                .change(function() {
                    var slugUrl = '{{ absolute_url(path('events_slug', {'text': 'TEXT'})) }}';
                    var slug = $.post(slugUrl.replace('TEXT', $('#event_title').val()));
                    slug.done(function(data) {
                        if (data.a != 'false') {
                            $('#event_slug')
                                .val(data.a);
                        }
                    });
                });
        });
    </script>
{% endblock %}
