{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.create'|trans({}, 'toolbar') %}

{% block events_content %}
    {{ include('@c975LEvents/tinymceInit.html.twig') }}
{# Toolbar #}
    {{ toolbar_display('@c975LEvents/tools.html.twig', 'create', 'md') }}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans({}, 'toolbar') }}
            </button>
        </div>
    {{ form_end(form) }}
{# Javascript #}
    <script type="text/javascript">
        $(document).ready(function() {
{# DatePicker #}
            {{ include('@c975LEvents/fragments/datePicker.html.twig') }}
{# Update semantic url #}
            {{ include('@c975LEvents/fragments/updateSlug.html.twig') }}
        });
    </script>
{% endblock %}
