{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.delete'|trans({}, 'toolbar') ~ ' "' ~ eventTitle ~ '"' %}

{% block events_content %}
{# Toolbar #}
    {{ toolbar|raw }}
{# Picture #}
    {% if event.picture != null %}
        <p class="text-center">
            <img src="{{ asset(event.picture) }}" class="img-responsive img-thumbnail center-block" alt="{{ event.title }}" title="{{ event.title }}" />
        </p>
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        <p class="alert alert-danger text-center">
            {{ 'text.delete_event'|trans }}
        </p>
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.delete'|trans({}, 'toolbar') }}" class="btn btn-lg btn-danger btn-block">
                <span class="fas fa-trash"></span> {{ 'label.delete'|trans({}, 'toolbar') }}
            </button>
        </div>
    {{ form_end(form) }}
{% endblock %}