{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.delete'|trans({}, 'toolbar') ~ ' "' ~ eventTitle ~ '"' %}

{% block events_content %}
{# Toolbar #}
    {{ toolbar_display('@c975LEvents/tools.html.twig', 'delete', 'md', event) }}
{# Picture #}
    {% if event.picture != null %}
        <p class="text-center">
            <img src="{{ asset(event.picture) }}" class="img-responsive img-thumbnail center-block" alt="{{ event.title }}" title="{{ event.title }}" />
        </p>
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        <p class="alert alert-danger text-center">
            {{ 'text.delete_event'|trans }}
        </p>
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}