{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.duplicate'|trans({}, 'toolbar') ~ ' "' ~ event.id ~ '"' %}

{% block events_content %}
    {{ include('@c975LEvents/tinymceInit.html.twig') }}
{# Toolbar #}
    {{ toolbar_display('@c975LEvents/tools.html.twig', 'duplicate', 'md', event) }}
{# Picture #}
    {% if event.picture != null %}
        <p class="text-center">
            <img src="{{ asset(event.picture) }}" class="img-responsive img-thumbnail center-block" alt="{{ event.title }}" title="{{ event.title }}" />
        </p>
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
{# Submit #}
        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.validate'|trans({}, 'toolbar') }}" class="btn btn-lg btn-primary btn-block">
                {{ 'label.validate'|trans({}, 'toolbar') }}
            </button>
        </div>
    {{ form_end(form) }}
{# Javascript #}
    <script type="text/javascript">
        $(document).ready(function() {
{# DatePicker #}
            {{ include('@c975LEvents/fragments/datePicker.html.twig') }}
{# Update semantic url #}
            {{ include('@c975LEvents/fragments/updateSlug.html.twig') }}
        });
    </script>
{% endblock %}