{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}

{% block events_content %}
    <div class="container">
{# Toolbar #}
        <div class="text-center">
            <div class="btn-group btn-group-md" role="group">
{# Brand #}
                <span class="btn btn-success"><strong>Events</strong></span>

{# Display #}
                <a href="{{ path('events_display', {'event': event.slug, 'id': event.id}) }}" class="btn btn-default" title="{{ 'label.current_version'|trans }}" role="button">
                    <span class="glyphicon glyphicon-eye-open"></span></a>

{# Edit #}
                <a href="{{ path('events_edit', {'event': event.slug, 'id': event.id}) }}" class="btn btn-default" title="{{ 'label.modify'|trans }}" role="button">
                    <span class="glyphicon glyphicon-pencil"></span></a>

{# New #}
                <a href="{{ path('events_new') }}" class="btn btn-default" title="{{ 'label.new_page'|trans }}" role="button">
                    <span class="glyphicon glyphicon-plus"></span></a>

{# Dashboard #}
                <a href="{{ path('events_dashboard') }}" class="btn btn-info" title="{{ 'label.dashboard'|trans }}" role="button">
                    <span class="glyphicon glyphicon-dashboard"></span></a>

{# Help #}
                <a href="{{ path('events_help') }}" class="btn btn-info" title="{{ 'label.help'|trans }}" role="button">
                    <span class="glyphicon glyphicon-flag"></span></a>
            </div>
        </div>

{# Picture #}
        {% if picturePath != null %}
            <p class="text-center">
                <img src="{{ asset(picturePath) }}" width="600" class="img-responsive center-block" alt="{{ event.title }}" title="{{ event.title }}" />
            </p>
        {% endif %}

{# Form #}
        {{ form_start(form) }}
            <p class="alert alert-danger text-center">
                {{ 'text.delete_event'|trans }}
            </p>
            {{ form_widget(form) }}

            <div class="form-group">
                <button type="submit" name="submit" title="{{ 'label.delete'|trans }}" class="btn btn-lg btn-danger btn-block">
                    <span class="glyphicon glyphicon-trash"></span> {{ 'label.delete'|trans }}
                </button>
            </div>
        {{ form_end(form) }}

{# Cancel #}
        <p class="text-center">
            <a href="javascript:history.back()">
                {{ 'label.cancel'|trans }}</a>
        </p>
    </div>
{% endblock %}