{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.dashboard'|trans ~ ' "' ~ eventTitle ~ '"' %}

{% block events_content %}
{# Toolbar #}
    {{ toolbar|raw }}

{# Picture #}
    {% if event.picture != null %}
        <p class="text-center">
            <img src="{{ asset(event.picture) }}" class="img-responsive img-thumbnail center-block" alt="{{ event.title }}" title="{{ event.title }}" />
        </p>
    {% endif %}

{# Form #}
    {{ form_start(form) }}
        <p class="alert alert-danger text-center">
            {{ 'text.delete_event'|trans }}
        </p>
        {{ form_widget(form) }}

        <div class="form-group">
            <button type="submit" name="submit" title="{{ 'label.delete'|trans }}" class="btn btn-lg btn-danger btn-block">
                <span class="glyphicon glyphicon-trash"></span> {{ 'label.delete'|trans }}
            </button>
        </div>
    {{ form_end(form) }}

{# Cancel #}
    <p class="text-center">
        <a href="javascript:history.back()">
            {{ 'label.cancel'|trans }}</a>
    </p>
{% endblock %}