{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.modify'|trans({}, 'toolbar') ~ ' "' ~ event.title ~ '"' %}

{% block events_content %}
    {{ include('@c975LEvents/tinymceInit.html.twig') }}
{# Toolbar #}
    {{ toolbar_display('@c975LEvents/tools.html.twig', 'modify', 'md', event) }}
{# Picture #}
    {% if event.picture != null %}
        <p class="text-center">
            <img src="{{ asset(event.picture) }}" class="img-responsive img-thumbnail center-block" alt="{{ event.title }}" title="{{ event.title }}" />
        </p>
    {% endif %}
{# Form #}
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{# Javascript #}
    <script type="text/javascript">
        $(document).ready(function() {
{# DatePicker #}
            $('.js-datepicker').datepicker({
                todayHighlight: true,
                autoclose: true,
                calendarWeeks: true,
                clearBtn: true,
                language: '{{ app.request.locale }}'
            });
        });
    </script>
{% endblock %}