{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}

{% block events_content %}
{# Toolbar #}
    {{ toolbar|raw }}

{# List of events and actions #}
    <div class="text-center">
        <h2>
            {{ 'text.list_events'|trans }}
        </h2>
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'Id', 'e.id') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'label.title'|trans, 'e.title') }}</th>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'label.semantic_url'|trans, 'e.slug') }}</th>
                    <th class="text-center"><span class="glyphicon glyphicon-eye-open"></span> {{ 'label.display'|trans }}</th>
                    <th class="text-center"><span class="glyphicon glyphicon-pencil"></span> {{ 'label.modify'|trans }}</th>
                    <th class="text-center"><span class="glyphicon glyphicon-trash"></span> {{ 'label.delete'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
{# Id #}
                        <td class="text-center">
                            {{ event.id }}
                        </td>
{# Title #}
                        <td class="text-center">
                            {{ event.title }}
                        </td>
{# Slug #}
                        <td class="text-center">
                            {{ event.slug }}
                        </td>
{# Display #}
                        <td class="text-center">
                            <a href="{{ path('events_display', {'slug': event.slug, 'id': event.id}) }}" title="{{ 'label.display'|trans }}">{{ 'label.display'|trans }}</a>
                        </td>
{# Edit #}
                        <td class="text-center">
                            <a href="{{ path('events_edit', {'slug': event.slug, 'id': event.id}) }}" title="{{ 'label.modify'|trans }}">{{ 'label.modify'|trans }}</a>
                        </td>
{# Delete #}
                        <td class="text-center">
                            <a href="{{ path('events_delete', {'slug': event.slug, 'id': event.id}) }}" title="{{ 'label.delete'|trans }}" class="text-danger">{{ 'label.delete'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{# Pagination #}
        <div class="navigation text-center">
            {{ knp_pagination_render(events) }}
        </div>
    </div>
{% endblock %}