{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}

{% set title = event.title %}

{# Defines if event is finished #}
{% set finishedClass = ' class="text-muted"' %}
{% if event.startDate > date() or event.endDate > date() %}
    {% set finishedClass = '' %}
{% endif %}

{% block events_content %}
{# Toolbar #}
    {% if is_granted('ROLE_ADMIN') %}
        {{ toolbar_display('@c975LEvents/tools.html.twig', 'display', 'md', event) }}
    {% endif %}
    <div class="text-center">
{# Picture #}
        {% if event.picture != null %}
            <p>
                <br />
                <img src="{{ asset(event.picture) }}" class="img-responsive img-thumbnail center-block" alt="{{ event.title }}" title="{{ event.title }}" />
                <br />
            </p>
        {% endif %}
{# Place #}
        <p{{ finishedClass|raw }}>
            {{ 'label.place'|trans }} : <strong>{{ event.place }}</strong>
        </p>
{# Start Date and time #}
        <p{{ finishedClass|raw }}>
            {{ 'label.start_date'|trans }} : <strong>{{ event.startDate|localizeddate('long', 'none') }} - {{ event.startTime|localizeddate('none', 'short') }}</strong>
        </p>
{# End Date and time #}
        {% if event.endDate != null %}
            <p{{ finishedClass|raw }}>
                {{ 'label.end_date'|trans }} : <strong>{{ event.endDate|localizeddate('long', 'none') }} - {{ event.endTime|localizeddate('none', 'short') }}</strong>
            </p>
        {% endif %}
{# Description #}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'label.description'|trans }}</h3>
            </div>
            <div class="panel-body">
{# Event finished #}
                {% if finishedClass != '' %}
                    <p class="lead">
                        {{ 'label.completed'|trans }}
                    </p>
                {% endif %}
                <p>
                    {{ event.description|raw|nl2br }}
                </p>
            </div>
        </div>
{# Add to calendar #}
        {% if finishedClass == '' %}
            <p>
                <a href="{{ path('events_ical', {'slug': event.slug, 'id': event.id}) }}" class="btn btn-primary" title="{{'label.add_to_calendar'|trans }}" role="button">
                    <span class="fas fa-calendar-plus"></span> {{'label.add_to_calendar'|trans }}</a>
            </p>
        {% endif %}
{# All events #}
        <p>
            <a href="{{ path('events_all') }}">
                {{'label.all_events'|trans }}</a>
        </p>
    </div>
{% endblock %}