{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.finished_events'|trans %}

{% block events_content %}
{# No events #}
{% if events|length == 0 %}
    <p class="lead text-center">
        {{ 'label.no_events'|trans }}
    </p>
{# Finished events #}
    {% else %}
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'label.title'|trans, 'e.title') }}&nbsp;<span class="fas fa-sort"></span></th>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'label.start_date'|trans, 'e.start_date') }}&nbsp;<span class="fas fa-sort"></span></th>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'label.end_date'|trans, 'e.end_date') }}&nbsp;<span class="fas fa-sort"></span></th>
                    <th class="text-center">{{ knp_pagination_sortable(events, 'label.place'|trans, 'e.place') }}&nbsp;<span class="fas fa-sort"></span></th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
{# Title #}
                        <td class="text-center text-muted">
                            <strong><a href="{{ path('events_display', {'slug': event.slug, 'id': event.id}) }}" title="{{ 'label.display'|trans({}, 'toolbar') }}">{{ event.title }}</a></strong>
                        </td>
{# StartDate and Time #}
                        <td class="text-center text-muted">
                            {{ event.startDate|format_datetime('long', 'none') }}
                            <br />
                            {{ event.startTime|format_datetime('none', 'short') }}
                        </td>
{# End date and Time #}
                        <td class="text-center text-muted">
                            {% if event.endDate != null %}
                                {{ event.endDate|format_datetime('long', 'none') }}
                                <br />
                                {{ event.endTime|format_datetime('none', 'short') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
{# Place #}
                        <td class="text-center text-muted">
                            {{ event.place }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{# Pagination #}
        <div class="navigation text-center">
            {{ knp_pagination_render(events) }}
        </div>
    {% endif %}
{# All Events #}
    <p class="text-center">
        <a href="{{ path('events_all') }}">
            {{'label.all_events'|trans }}</a>
    </p>
{% endblock %}