{% extends "@c975LEvents/layout.html.twig" %}
{% trans_default_domain 'events' %}
{% set title = 'label.all_events'|trans %}

{% block events_content %}
{# No events #}
{% if events|length == 0 %}
    <p class="lead text-center">
        {{ 'label.no_events'|trans }}
    </p>
{# All events #}
    {% else %}
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="text-center">{{ 'label.title'|trans }}</th>
                    <th class="text-center">{{ 'label.start_date'|trans }}</th>
                    <th class="text-center">{{ 'label.end_date'|trans }}</th>
                    <th class="text-center">{{ 'label.place'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
{# Title #}
                        <td class="text-center">
                            <strong><a href="{{ path('events_display', {'slug': event.slug, 'id': event.id}) }}" title="{{ 'label.display'|trans({}, 'toolbar') }}">{{ event.title }}</a></strong>
                            <br />
                        </td>
{# StartDate and Time #}
                        <td class="text-center">
                            {{ event.startDate|localizeddate('long', 'none') }}
                            <br />
                            {{ event.startTime|localizeddate('none', 'short') }}
                        </td>
{# End date and Time #}
                        <td class="text-center">
                            {% if event.endDate != null %}
                                {{ event.endDate|localizeddate('long', 'none') }}
                                <br />
                                {{ event.endTime|localizeddate('none', 'short') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
{# Place #}
                        <td class="text-center">
                            {{ event.place }}
                        </td>
                    </tr>
{# Add to calendar #}
                    <tr>
                        <td colspan="4" class="text-center">
                            <a href="{{ path('events_ical', {'slug': event.slug, 'id': event.id}) }}" class="btn btn-primary" title="{{'label.add_to_calendar'|trans }}" role="button">
                                <span class="fas fa-calendar-plus"></span> {{'label.add_to_calendar'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{# Events finished #}
    <p class="text-center">
        <a href="{{ path('events_finished') }}">
            {{'label.finished_events'|trans }}</a>
    </p>
{% endblock %}